{% extends "base.html" %}

{% block content %}

<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <h1 class="title">Login</h1>
        <div class="box has-background-grey-lighter">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="">
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-primary has-background-light" type="email" placeholder="email" name="email">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-medium is-primary has-background-light" type="password" placeholder="password" name="password">
                    </div>
                </div>
            
                <button class="button is-block is-info is-large is-fullwidth has-background-primary">Submit</button>
                <br>

            </form>
            <form method="POST" action="/login_anonymous">
                <button class="button is-block is-info is-medium is-fullwidth has-background-red" >Anonymous User</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}